*, *:before , *:after {
  margin : 0;
}
.container{
  margin:0;
  min-height: 85vh;
  min-width: 100%;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  position: relative;
  top:-20px;
}
.game {
 display:flex;
 justify-content: center;
 align-items: center;
 width:60vh;
 flex-wrap: wrap;
}
.box {
  display: block;
  width : 19vh;
  height:50px;
  border: 0.5px solid black;
  text-align: center;
  font-size:40px;
}
.gameOptions {
  margin:0;
  font-size: 14px;
  display:none;
  position:absolute;
  min-width:100vw;
  min-height: 100vh;
  background-color: rgba(222, 223, 226,0.95);
  z-index:1;
  top: 0;
  left:0;
  overflow: hidden;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.gameOptions #newWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom : 50px;
  width: 180px;
  height: 130px;
  background : white;

}
#newWindow > * {
  margin: 5px;
}
#newWindow div > *{
  margin: 5px;
}
