*, *:before , *:after {
  margin : 0;
}

.container{
  margin:0;
  min-height: 85vh;
  min-width: 100%;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  position: relative;
  top:-20px;
}
.game {
 display:flex;
 justify-content: center;
 align-items: center;
 width:70vw;
 flex-wrap: wrap;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width : 19vw;
  height:120px;
  border: 0.5px solid black;
  text-align: center;
  font-size:0px;
  transition: all 0.4s ease-in-out;
}
.gameOptions {
  margin:0;
  font-size: 14px;
  display:flex;
  position:absolute;
  min-width:100vw;
  min-height: 100vh;
  background-color: rgba(222, 223, 226,0.95);
  z-index:1;
  top: 0;
  left:0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}


.gameOptions #newWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom : 50px;
  width: 50vw;
  height: 40vw;
  background : white;
  box-shadow:-1px 3px 14px 2px rgba(0,0,0,0.2);

}
#newWindow > * {
  margin: 5px;
  font-size: 30px;
  font-family: 'Arima Madurai', cursive;
}
#newWindow div > *{
  margin: 5px;
}
.display {

}
/*////////////////*tool tip*/

span{
    background:#F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-size: 13px;
    height: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 36%;
    display:none;
    padding:0 20px;

}

#newWindow form input:hover + span {
  display:block;
}
@media screen and (max-width: 450px){
  .game{
    width:90vw;
  }
  .box{
    width:29vw;
  }
  #newWindow > * {
    font-size:20px;
  }

}
